[user]
	name = KID
	email = jyhsu2000@gmail.com
[alias]
	tree = log --graph --pretty=format:'%C(yellow)%h%Creset -%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset'
[push]
	default = simple
[core]
	editor = vim
